##############################################################################################################################################################
#ACTION SOURCE  DEST    PROTO   DPORT   SPORT   ORIGDEST    RATE    USER    MARK    CONNLIMIT   TIME    HEADERS SWITCH  HELPER
# Permit all ICMP traffic FROM the firewall TO the net zone
#Allow incoming TCP ports
ACCEPT	net	$FW	tcp	25,80,443,465,2122,5060,5061,5062,5063,8001,8003,8088,8089,9000,10000:10100
ACCEPT net $FW icmp 8 - - 1/sec
ACCEPT net $FW icmp 0 - - 1/sec
ACCEPT net $FW icmp 11
ACCEPT net $FW icmp 3
#Allow incoming UDP ports
ACCEPT	net	$FW	udp	500,4500,5060,5061,5062,5063,9000,10000:10100
#ssh on port 2122
DROP:info:TRAP net $FW tcp   22
#Commonly blocked ports
DROP net $FW udp   67,68,111,113,135,139,445,513,520
DROP net $FW tcp   67,68,111,113,135,139,445,513,520
LOG:notice:TCP_IN net $FW tcp - - - 30/min
LOG:notice:UDP_IN net $FW udp - - - 30/min
LOG:notice:ICMP_IN net $FW icmp - - - 30/min