[Unit]
Description=Check docker's 'ENV' on container startup
After=multi-user.target

[Service]
Type=simple
ExecStart=/containerstartup.sh

[Install]
WantedBy=custom.target
